<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/ahmed.jpg" />
      </div>
      <h1>{{ title }}</h1>
    </div>
    <section id="about-myself">
      <div class="about-content">
        <h2>About Myself</h2>
        <p>
          I'm a second year Computer Engineering student at McMaster University
          🎓 based in Hamilton, ON. When I'm not clicking on virtual heads 🎮
          and improving myself 💪🏼, I dive into the Software Engineering rabbit
          hole 🕳️.
        </p>
        <p>
          I am mostly interested in Full-Stack Development and Machine Learning
          application.
        </p>
        <p>
          This is my portfolio site where I showcase my projects and skills.
          Feel free to explore and learn more about me!
        </p>
      </div>
    </section>
    <section id="work-experience">
      <div class="work-content">
        <h2>Work Experience</h2>
        <div class="work-item">
          <div class="work-details">
            <div class="company-role-container">
              <p class="company-name">
                McMaster Artificial Intelligence Society
              </p>
              <p class="role">Workshop Developer</p>
            </div>
            <p class="work-date">Jan 2024 - Present</p>
          </div>
          <div class="work-description">
            <ul>
              <li>
                Developed technical workshops on core Machine Learning concepts
                using Python for 100+ students
              </li>
              <li>
                Wrote a reusable template with TensorFlow teaching students how
                to build Convolutional Neural Networks (CNN's)
              </li>
              <li>
                Instructed students on data handling tasks like cleaning,
                preprocessing, and feature selection using Pandas, along with
                model architecture
              </li>
              <li>
                Conducted live coding demonstrations on Google Colab enabling
                attendees to follow along in real time
              </li>
            </ul>
          </div>
        </div>
        <div class="skills-tags">
          <span class="tag">Neural Networks</span>
          <span class="tag">Teaching</span>
          <span class="tag">Scikit-Learn</span>
          <span class="tag">Convolutional Neural Networks (CNN's)</span>
          <span class="tag">Python</span>
          <span class="tag">Machine Learning</span>
          <span class="tag">TensorFlow</span>
          <span class="tag">Artificial Intelligence</span>
          <span class="tag">Deep Learning</span>
          <span class="tag">Leadership</span>
        </div>
      </div>
    </section>
    <section id="hobbies">
      <div class="container">
        <div class="text-center">
          <h2 class="heading">My Hobbies</h2>
          <p>Discover the activities that bring me joy and fulfillment.</p>
        </div>
        <div class="cards">
          <div class="card">
            <img
              src="./static/img/keyboard.jpg"
              alt="Hobby 1"
              class="card-image"
            />
            <div class="card-content">
              <h3 class="card-title">Keyboards / Typing</h3>
              <p class="card-text">
                It shouldn't be too surprising that a Software Engineer is good
                at typing, but for me it has become a hobby. I've build custom
                mechanical keyboards at this point and am super interested in
                the certain switches and keys that are involved. Personally, I'm
                super into performance and I have achieved a typing speed of
                171+ wpm.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="./static/img/setup.jpg"
              alt="Hobby 2"
              class="card-image"
            />
            <div class="card-content">
              <h3 class="card-title">PC Hardware / Setups</h3>
              <p class="card-text">
                I've always been interested in the latest and greatest tech
                gadgets. I've built my own PC and have been following the tech
                industry for a while now. I'm always looking for the best
                performance and the best value for my money. As I continue my
                journey as a student and Software Engineer, I'm planning to
                create a hybrid MacBook / PC setup in the near future.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="./static/img/nature.jpg"
              alt="Hobby 3"
              class="card-image"
            />
            <div class="card-content">
              <h3 class="card-title">Gym / Walking</h3>
              <p class="card-text">
                I've been going to the gym for a while now and I've seen
                significant improvements in my physical and mental health. I
                also enjoy going for walks and hikes in nature. It's a great way
                to relax and take a break from the digital world. I've recently
                discovered many beautiful trails in Hamilton and I'm excited to
                explore more.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="education">
      <div class="work-content">
        <h2>Education</h2>
        <div class="work-item">
          <div class="work-details">
            <div class="company-role-container">
              <div class="another-company-container">
                <img
                  src="./static/img/mcmaster.webp"
                  alt="McMaster Logo"
                  class="education-logo"
                />
                <p class="company-name">McMaster University</p>
              </div>
              <p class="role">B.Eng. Computer Engineering</p>
            </div>
            <p class="work-date">Sep 2022 - Apr 2027</p>
          </div>
          <div class="work-description">
            <p>
              Pursuing a Bachelor's degree in Computer Engineering, focusing on
              software development, machine learning, and system design. Engaged
              in various projects and extracurricular activities to enhance
              practical skills alongside academic knowledge.
            </p>
            <p>
              Activities and societies: DeltaHacks, Google Developer Student
              Clubs, McMaster Engineering Competition, McMaster AI Society,
              McMaster Competitive Programming
            </p>
          </div>
        </div>
        <div class="skills-tags">
          <span class="tag">Python</span>
          <span class="tag">C++</span>
          <span class="tag">Software Design</span>
          <span class="tag">C</span>
          <span class="tag">Verilog</span>
          <span class="tag">3D Printing</span>
          <span class="tag">MATLAB</span>
          <span class="tag">Autodesk Inventor</span>
          <span class="tag">Biomedical Engineering</span>
        </div>
        <div class="work-item">
          <div class="work-details">
            <div class="company-role-container">
              <div class="another-company-container">
                <img
                  src="./static/img/ahs.png"
                  alt="Ancaster High School Logo"
                  class="education-logo"
                />
                <p class="company-name">IBDP / Ancaster High School</p>
              </div>
              <p class="role">
                Ontario Secondary School Diploma (OSSD) & IB Diploma
              </p>
            </div>
            <p class="work-date">Sep 2018 - May 2022</p>
          </div>
          <div class="work-description">
            <p>
              Completed the Ontario Secondary School Diploma (OSSD) and the
              International Baccalaureate (IB) Diploma at Ancaster High School.
              The rigorous IB curriculum developed my analytical skills,
              critical thinking, and understanding of global issues, alongside
              fostering strong academic writing and research capabilities.
            </p>
          </div>
        </div>
        <div class="skills-tags">
          <span class="tag">Critical Thinking</span>
          <span class="tag">Teamwork</span>
          <span class="tag">Time Management</span>
          <span class="tag">Problem Solving</span>
          <span class="tag">Adaptability</span>
          <span class="tag">Communication</span>
          <span class="tag">Leadership</span>
          <span class="tag">Creativity</span>
          <span class="tag">Research & Analysis</span>
          <span class="tag">Ethical Understanding</span>
        </div>
      </div>
    </section>
    <section id="travel">
      <div class="text-center">
        <h2 class="heading">My Travel</h2>
        <p>Discover where my adventures have taken me across Earth.</p>
      </div>
      <div id="map"></div>
      <script>
        const map = L.map("map").setView([40, 0], 2);

        const tiles = L.tileLayer(
          "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
          {
            maxZoom: 19,
            attribution:
              '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          }
        ).addTo(map);
        const locations = [
          {
            lat: 43,
            lng: -80,
            country: "Canada",
            description: "This is where I currently live.",
          },
          // Add more locations here
          {
            lat: 48.8566,
            lng: 2.3522,
            country: "France",
            description: "Visited the Eiffel Tower here!",
          },
          {
            lat: 24.4539,
            lng: 54.3773,
            country: "UAE",
            description:
              "Born here and lived in Dubai for the first 6 years of my life.",
          },
          {
            lat: 34.0522,
            lng: -118.2437,
            country: "USA",
            description: "Visited Chicago, NYC, LA, etc.",
          },
          {
            lat: 41.9028,
            lng: 12.4964,
            country: "Italy",
            description: "Been to Rome and Amalfi Coast.",
          },
          {
            lat: 33.2232,
            lng: 43.6793,
            country: "Iraq",
            description: "Where I'm from and where my family lives.",
          },
          {
            lat: 40.4168,
            lng: -3.7038,
            country: "Spain",
            description: "Visited Madrid and Barcelona.",
          },
          {
            lat: 53.3498,
            lng: -6.2603,
            country: "Ireland",
            description: "Vacation in Ireland.",
          },
          {
            lat: 31.9539,
            lng: 35.9106,
            country: "Jordan",
            description: "Vacation in Jordan.",
          },
          {
            lat: 33.8547,
            lng: 35.8623,
            country: "Lebanon",
            description: "Vacation in Lebanon.",
          },
          {
            lat: 21.3891,
            lng: 39.8579,
            country: "Saudi Arabia",
            description: "Visited Mecca.",
          },
          {
            lat: 21.4735,
            lng: 55.9754,
            country: "Oman",
            description: "Vacation in Oman.",
          },
          {
            lat: 41.0082,
            lng: 28.9784,
            country: "Turkey",
            description: "Vacation in Turkey.",
          },
          // Example format: { lat: latitude, lng: longitude, country: "Country Name", description: "Short description." }
        ];

        locations.forEach((location) => {
          const marker = L.marker([location.lat, location.lng])
            .addTo(map)
            .bindPopup(
              `<b>${location.country}</b><br />${location.description}`
            );
        });
      </script>
    </section>
  </body>
</html>
