<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/ahmed.jpg" />
      </div>
      <h1>{{ title }}</h1>
    </div>
    <section id="about-myself">
      <div class="about-content">
        <h2>About Myself</h2>
        <p>
          I'm a second year Computer Engineering student at McMaster University
          🎓 based in Hamilton, ON. When I'm not clicking on virtual heads 🎮
          and improving myself 💪🏼, I dive into the Software Engineering rabbit
          hole 🕳️.
        </p>
        <p>
          I am mostly interested in Full-Stack Development and Machine Learning
          application.
        </p>
        <p>
          This is my portfolio site where I showcase my projects and skills.
          Feel free to explore and learn more about me!
        </p>
      </div>
    </section>
    <section id="work-experience">
      <div class="work-content">
        <h2>Work Experience</h2>
        <div class="work-item">
          <div class="work-details">
            <div class="company-role-container">
              <p class="company-name">
                McMaster Artificial Intelligence Society
              </p>
              <p class="role">Workshop Developer</p>
            </div>
            <p class="work-date">Jan 2024 - Present</p>
          </div>
          <div class="work-description">
            <ul>
              <li>
                Developed technical workshops on core Machine Learning concepts
                using Python for 100+ students
              </li>
              <li>
                Wrote a reusable template with TensorFlow teaching students how
                to build Convolutional Neural Networks (CNN's)
              </li>
              <li>
                Instructed students on data handling tasks like cleaning,
                preprocessing, and feature selection using Pandas, along with
                model architecture
              </li>
              <li>
                Conducted live coding demonstrations on Google Colab enabling
                attendees to follow along in real time
              </li>
            </ul>
          </div>
        </div>
        <div class="skills-tags">
          <span class="tag">Neural Networks</span>
          <span class="tag">Teaching</span>
          <span class="tag">Scikit-Learn</span>
          <span class="tag">Convolutional Neural Networks (CNN's)</span>
          <span class="tag">Python</span>
          <span class="tag">Machine Learning</span>
          <span class="tag">TensorFlow</span>
          <span class="tag">Artificial Intelligence</span>
          <span class="tag">Deep Learning</span>
          <span class="tag">Leadership</span>
        </div>
      </div>
    </section>
  </body>
</html>
